h1 {
  font-size: 52px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.logo {
  background: #38b682;
  background: -moz-linear-gradient(top, #38b682 0%, #5cb590 100%);
  background: -webkit-linear-gradient(top, #38b682 0%, #5cb590 100%);
  background: linear-gradient(to bottom, #38b682 0%, #5cb590 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38b682', endColorstr='#5cb590', GradientType=0);
  border-radius: 10px;
  /* border: 15px solid rgba(56, 182, 130, 1); */
  border-bottom: 15px solid rgb(45, 151, 107);
  width: 100%;
  max-width: 445px;
  height: auto;
  padding: 10px;
}
.el-input__inner {
  margin: 3px;
  font-size: 22px !important;
  height: 55px !important;
  padding: 15px !important;
}
.el-form-item__label {
  font-weight: bolder;
  font-size: 16px !important;
  padding: 5px 15px 5px 5px !important;
}
.el-form-item {
  margin-bottom: 0px !important;
}
form.el-form {
  background-color: whitesmoke;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 32px;
  padding-left: -20px;
  border-radius: 15px; 
}
.el-input__inner:focus {
  border-color: #38B682 !important;
  border-width: 3px;
}
.el-button--primary {
  color: #fff;
  background-color: #38B682 !important;
  border-color: #38B682 !important;
}
.el-button {
  font-size: 20px !important;
  font-weight: bolder !important;
  width: 100%;
  margin: 10px;
  position: relative;
  left: 3px;
}
.el-button:focus,
.el-button:hover {
  color: #38B682 !important;
  border-color: #38B682 !important;
  background-color: rgb(238, 255, 248) !important;
}
#submit-button {
  margin-top: 10px;
}
.errors {
  padding-bottom: 10px;
}
.el-alert.el-alert--error {
  margin-bottom: 6px;
}
.el-alert__title {
  font-size: 20px !important;
}
.el-alert.el-alert--error {
  padding: 22px;
}
.el-alert__closebtn {
  font-size: 20px !important;
}
.registration-component {
  margin-top: 60px;
}
.avatar-image {
  box-shadow: 0px 0px 20px -3px #000;
  -webkit-box-shadow: 0px 0px 20px -3px #000;
  -moz-box-shadow: 0px 0px 20px -3px #000;
  margin-bottom: 15px;
}
.logout-button {
  margin-top: 10px !important;
}

@media only screen and (max-width: 500px) {
  .logo {
    width: 85%;
  }
}